<div class="avatar">

  <%= obrazek_budovy(current_user.house.name, "erb") %>
  <li>Nick: <%= link_to current_user.username, current_user, :class => current_user.barvicky, :title => current_user.barvicky %></li>
  <li>Národ: <%= link_to current_user.house.name, current_user.house %></li>
  <li>Vliv: <%= current_user.influence %> </li>
  <li>Lén: <%= current_user.fields.count %> </li>

</div>